#  Server Configuration
PORT=1100
URL= " enter your mongo url "

# JWT Secrets
JWT_SECRET= "   your Keys   "
ADMIN_JWT_SECRET= " your Keys   "
ALUMNI_JWT_SECRET= "    your Keys   "

# Email Configuration (Nodemailer)
EMAIL=  " Your Email "
EMAIL_CREDS= " Your Email Pass "

# Frontend URL (Optional)
# FRONTEND_URL=http://localhost:1100

#  Cloudinary Configuration
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#  Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
